<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1.0">
        <title>{{ title }}</title>
    </head>

    <body style="font-family: Arial, sans-serif; background-color: #f7f7f7; margin: 0px auto; padding: 0px 16px; height: 100%; width: 100%; max-width: 1000px;">
        <h1 style="font-size: x-large; font-weight: 600;">{{ title }}</h1>
        <div>
            {{ cover_letter }}
        </div>
    </body>
</html>